/* global */
* {
  box-sizing: border-box;
}
:root {
  --white: #fff;
  --lightest: #f2f2f2;
  --light: #eee;
  --medium: #ccc;
  --gray: #777;
  --dark: #444;
}
html, body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100%;
  margin: 0;
}

/* header */
header {
    background-color: var(--dark);
    color: var(--lightest);
    padding: 1.5%;
}
h1 {
  margin: 0;
  text-align: center;
}

/* main */
main {
  display: flex;
  flex-wrap: wrap;
}

/* sidebar */
aside {
    background-color: var(--light);
    flex-basis: 1;
    padding: 0 1.5%;
}
aside .form-control {
  display: flex;
}
aside input {
  background-color: var(--white);
  border: 1px solid var(--medium);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: var(--gray);
  outline: none;
  padding: 6%;
  width: 80%;
}
aside button {
  background-color: var(--white);
  border: 1px solid var(--medium);
  border-left: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: var(--gray);
  outline: none;
  padding: 6%;
  flex-basis: 40px;
}
aside button:hover {
  background-color: var(--light);
  cursor: pointer;
}
aside .history {
  background-color: var(--white);
  border: 1px solid var(--medium);
  border-radius: 5px;
  display: none;
  margin: 15px 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
}
aside li {
  border-bottom: 1px solid var(--medium);
  color: var(--gray);
  cursor: pointer;
  padding: 6%;
}
aside li:last-of-type {
  border: none;
}

/* results sections */
article {
  flex-basis: 3;
  margin: 15px;
  width: 75%;
}
section {
  border: 1px solid var(--medium);
  border-radius: 5px;
  color: var(--gray);
  margin-bottom: 15px;
  padding: 1.5%;
}
.current h2 {
  float: left;
}
.current img {
  position: relative;
  top: 7px;
}
.forcast-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.forcast-list li {
  background-color: var(--gray);
  border: 1px solid var(--medium);
  border-radius: 5px;
  color: var(--light);
  padding: 0 2%;
  text-align: center;
}

/* footer */
footer {
  background-color: var(--dark);
  color: transparent;
  padding: 0 1.5%;
}
footer p {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* uv levels */
span {
  border-radius: 2px;
  display: inline-block;
  padding: 2px 4px;
}
.level1, .level2 {
  background-color: rgbs(0,128,0,.5);
}
.level3, .level4, .level5 {
  background-color: rgba(255,255,0,.4);
}
.level6, .level7 {
  background-color: rgba(255,165,0,.5);
}
.level8, .level9, .level10 {
  background-color: rgba(255,0,0,.4);
}
.level11 {
  background-color: rgba(128,0,128,.5);
}
