/* global */
* {
  box-sizing: border-box;
}
:root {
  --background: #fff;
  --lightest: #f2f2f2;
  --light: #eee;
  --medium: #ddd;
  --dark: #444;
}
html, body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100%;
  margin: 0;
}

/* header */
.jumbotron {
  background-color: var(--lightest);
  border-bottom: 10px solid var(--dark);
  color: var(--dark);
  padding: 0;
  text-align: center;
}

/* table */
table {
  border-collapse: separate;
}
.table-bordered td {
  border: none;
}
.table tr {
  background-color: var(--lightest);
}
.table tr td:nth-child(1), .table tr td:nth-child(3) {
  width: 10%;
}
.table tr td:nth-child(1) {
  border-right: 1px solid var(--medium);
  border-top: 1px dashed var(--medium);
  text-align: center;
}
.table tr td:nth-child(2) {
  border-top: 1px solid var(--medium);
}
.table tr td:nth-child(3) {
  background-color: rgba(51,51,255,.1);
  border-left: 1px solid var(--medium);
  border-top: 1px solid var(--medium);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: center;
}
.table tr td:nth-child(3):hover {
  background-color: rgba(51,51,255,.2);
}
td input {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  width: 100%;
}
.past {
  background-color: rgba(102,102,102,.1);
}
.past:hover {
  background-color: rgba(102,102,102,.2);
}
.present {
  background-color: rgba(255,0,0,.1);
}
.present:hover {
  background-color: rgba(255,0,0,.2);
}
.future {
  background-color: rgba(0,255,51,.1);
}
.future:hover {
  background-color: rgba(0,255,51,.2);
}

/* footer */
footer {
  background-color: var(--dark);
  color: transparent;
}
