/* global */
* {
    box-sizing: border-box;
}
:root {
  --teal: #69D5EB;
  --gray: #333;
  --slate: #003;
}
body, html {
    font-family: 'Raleway', sans-serif;
    height: 100%;
    margin: 0;
}

/* header */
header {
    align-items: center;
    background-color: var(--gray);
    color: #fff;
    display: flex;
    justify-content: space-between;
    position: sticky;
}
header h1 {
    background-color: var(--gray);
    color: var(--teal);
    font-weight: 200;
    margin: 0;
    padding: 10px;
    white-space: nowrap;
}
header nav {
    white-space: nowrap;
}
header nav a {
    color: var(--teal);
    display: inline-block;
    font-size: 120%;
    font-weight: 200;
    outline: none;
    padding: 10px;
    text-decoration: none;
}

/* hero */
.hero {
    background: url("../images/code.jpg") center no-repeat;
    background-size: cover;
    height: 150px;
    position: relative;
}

/* main containers */
main {
    display: flex;
    flex-direction: column
}
main section {
    display: flex;
}
main section h2 {
    border-right: 2px solid var(--slate);
    flex-basis: 15%;
    padding: 1%;
    text-align: right;
}
main section section {
    display: flex;
    flex-basis: 85%;
    justify-content: space-between;
    padding: 1%;
    margin-right: 10%;
}

/* about section */
#about p {
    line-height: 140%;
}

/* work section */
#work section {
    flex-wrap: wrap;
}
#work figure {
    border: 1px solid #ccc;
    cursor: pointer;
    flex-basis: 48%;
    margin: 1%;
    padding: 2%;
    text-align: center;
}
#work figcaption {
    background-color: #444;
    color: #fff;
    margin-top: 5%;
    padding: 1%;
}
#work img {
    height: 100px;
    max-width: 100%;
}

/* contact section */
#contact ul {
    line-height: 160%;
    list-style-type: square;
    margin: 2% 0
}

/* resume section */
#resume {
    display: flex;
    justify-content: space-between;
}
#resume img {
    border: 1px solid var(--slate);
    margin-top: 2.5%;
    max-height: 130px;
}
#resume ul {
    line-height: 140%;
    list-style-type: square;
    margin: 2% 0;
}

/* footer */
footer {
    background-color: var(--gray);
    color: transparent;
}
footer p {
    margin: 0;
}
